.container {
    max-width: 400px;
margin: auto;

padding: 20px;
border-radius: 5px;     
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
   /* background: ;  */
}

h2 {
text-align: center;
color: #333;
}

label {
display: block;
margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
width: 100%;
padding: 10px;
margin-top: 5px;
border: 1px solid #ccc;
border-radius: 3px;
}

button {
width: 100%;
padding: 10px;
margin-top: 15px;
background-color: #5cb85c;
color: rgb(255, 255, 255);
border: none;
border-radius: 3px;
cursor: pointer;
}

button:hover {
background-color: #4cae4c;
}

body {
    font-family: "vazir", sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(./brandi-redd-aJTiW00qqtI-unsplash.jpg);
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}
footer {
    text-align: center;
    padding: 3px;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

